body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#wordList {
    height: 100vh;
    overflow-y: scroll;
    padding: 10px;
}

.word {
    height: 40px; /* Set the height of each item */
    line-height: 40px; /* Center the text vertically */
    margin-bottom: 2px; /* Optional: adds space between items */
    /* Add other styling as needed */
}

